.scriptolutionsmain1{
	padding-left:30px; 
	padding-right:17px; 
	position:relative; 
	z-index:5;
}
.scriptolutionsmain2{padding-left:30px; 
	padding-right:17px; 
	position:relative; 
	z-index:5;
}
.scriptolutionsblock{
	border:2px solid #cae3f3; 
	padding:7px 8px;
}
.scriptolutionsblock:hover{
	border:2px solid #38b0d9;
}
.scriptolutionsblock p{ 
    font-weight: 700;
    line-height: 23px;
    color: #000000;
    padding: 10px 5px 0px 5px;
    color: #0e0e0f;
    text-transform: uppercase;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    font-size:15px;
  }
.scriptolutionsblock p a{color:#222222;}
.scriptolutionsblock p a:hover{color:#38B0D9;}
.scriptolution-h-header{
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    font-weight:bold;
    color:#333333; 
     padding-bottom:0px;
 }
.scriptolution-s-small{	
    font-size: 18px;
    text-align: center;
    color: #333333;    
    line-height: 27px;
}
.scriptolution-t-tags li{
	background-color:#f9f9f9; 
	color:#b2b2b2; 
	border:1px #ddd solid; 
	margin-right: 5px; 
	border-radius: 2px; 
	box-sizing: border-box; 
	display: inline-block; 
	padding: 2px 7px; 
	font-size:13px;
}